*{
  margin: 0;
  padding: 0;

}



*, html {
  --primaryGradient: linear-gradient(93.12deg, #581B98 0.52%, #9C1DE7 100%);
  --secondaryGradient: linear-gradient(268.91deg, #581B98 -2.14%, #9C1DE7 99.69%);
  --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
  --light: 300;
  --regular: 400;
  --semiBold: 600;
  --extraLight: 300;
  --italic: 300;
  --primary: #7345d6;
  --fundo: #F0F8FF;
  --txt_primario: #7e7e91;
}

body{
  background-color:var(--fundo);
  font-family: Verdana,Sans-Serif;
}

/*--------------------------------pc-----------------------------------------------------*/

@media(min-width: 700px) {
  .headerindex {
    width: 90%;
    background-color:var(--fundo);
    padding: 8px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    color:var(--fundo);
    text-decoration: none;
    
  }

  .txtmenu{
    color:var(--primary);
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 24px;

  }

  .navmenu {  
    height: 100%;
    width: 0px;
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    transition: width 0.3s;
  }

  .linkmenu{
    display: block;
    padding: 16px;
    font-size: 20px;
  }

  nav a {
    display: block;
    padding: 16px;
    font-size: 20px;
  }

  nav a:hover{
    background-color:var(--primary);
    color:--fundo;
  }

  .avatar{
    width: 60px;
    right: 60px;
    border-radius: 50px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
  } 
    
  .main {
    padding: 16px;
    transition: margin-left 0.5s;
    display: flex;
    background-color: --fundo;
    border-radius: 8px;
    
  }

  .boxhome{
    width: 80%;
    flex-direction: column;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .box_servicos{
    display: inline-grid;
    grid-template-columns: 50% 50%;

  }

  .div_baner{
    text-align: left;
    animation: backInLeft; 
    animation-duration: 2s;
    flex-direction: row;
    display: flex;
    
  }

  .quem_somos_animado{
    opacity: 0.0;
    text-align: left;
    margin-bottom: 30px;
    flex-direction: column;
    width: 96%;
    margin-left: 10px;

  }

  .quem_somos_animado2{
    display: flex;
    opacity: 0.0;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-direction: row;
  }


  .anima{
    opacity: 1.0;
    animation: backInLeft; 
    animation-duration: 2s;

  }

  .titulo {
    animation: backInLeft; 
    animation-duration: 2s;
    margin-bottom: 16px;
    font-size: 33px;
    color: var(--primary);
  }

  .titulo2{
    margin-bottom: 16px;
    font-size: 32px;
    color: var(--primary);
  }


  .txt_somos{
    animation: backInLeft; 
    animation-duration: 2s;
    font-size: 20px;
    color: var(--primary);
  }

  .img_baner{
    animation: backInLeft; 
    animation-duration: 2s;
    width: 600px;
    height: 500px;
    margin-right: auto;
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    
  }

  .img_baner3{
    width: 70%;
    height: 400px;
    animation: backInLeft; 
    animation-duration: 2s;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .img_baner2{
    width: 300px;
    height: 300px;
    animation: backInLeft; 
    animation-duration: 2s;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .st0{
    animation: pulse; 
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;

  }

  .st1{
    animation: pulse; 
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
  }

  .botao{
    width: 160px;
    height: 60px;
    background-color:var(--primary);
    border: none;
    outline: none;
    margin-left: 16px;
    text-align: center;
    border-radius: 5px;
    color:--fundo;
    box-shadow: 2px 2px 2px #7B68EE;
  }

  .botao:hover{
    opacity: 0.5;
  }


  .linha {
    display: none;
    border-top-color: #7B68EE;
    border: 0.5px;
    border-style: solid;
    margin-top: 16px;
    opacity: 0.1;
  }

  footer{
    padding: 24px;
    background-color: var(--primary);
  }

  .box_footer{
    display: flex;
    flex-direction: row;
  }


  .div_social{
    display: flex;
    flex-direction: row;
    margin-bottom: 13px;
    margin-left:160px;

  }
  .endereco{
    width: 50%;
  }
  .txt_social{
    font-size: 16px;
    margin-left:8;
    margin-top: auto;
    margin-bottom:auto;
    color:var(--fundo);
  }
  .txt_endereco{
    font-size: 16px;
    margin-left:8;
    margin-bottom:12px;
    color:var(--fundo);
  }


  .img_rede{
    display: flex;
    width: 40px;
    height: 40px;
    margin-left: 16px;
  }

  .txtrodape{
    display: flex;
    color:var(--fundo);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 24px;
    font-size: 16px;
  }
 

}

/*-------------------------------------------------------------------------------------*/

/*--------------------------------CELULAR-----------------------------------------------------*/


@media(max-width: 820px) {

  .headerindex {
    width: 90%;
    background-color:var(--fundo);
    padding: 8px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    color:var(--fundo);
    text-decoration: none;
    
  }

  .txtmenu{
    color:var(--primary);
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16px;

  }

  .navmenu {  
    height: 100%;
    width: 0px;
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    transition: width 0.3s;
  }

  .linkmenu{
    display: block;
    padding: 16px;
    font-size: 20px;
  }

  nav a {
    display: block;
    padding: 16px;
    font-size: 20px;
  }

  nav a:hover{
    background-color:var(--primary);
    color:--fundo;
  }

  .avatar{
    width: 60px;
    right: 60px;
    border-radius: 50px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
  } 

  .boxhome{
    border-radius: 8px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    
  }

  .titulo {
    margin-bottom: 16px;
    font-size: 25px;
    color: var(--primary);
  }
    

  .linha {
    display: none;
    border-top-color: #7B68EE;
    border: 0.5px;
    border-style: solid;
    margin-top: 50px;
    opacity: 0.1;
  }

  footer{
    padding: 24px;
    background-color: var(--primary);
  }

  .box_footer{
    display: flex;
    flex-direction: row;
  }


  .div_social{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  .endereco{
    width: 50%;
  }
  .txt_social{
    font-size: 12px;
    margin-left:8;
    margin-top: auto;
    margin-bottom:auto;
    color:var(--fundo);
  }
  .txt_endereco{
    font-size: 13px;
    margin-left:8;
    margin-bottom:12px;
    color:var(--fundo);
  }


  .img_rede{
    display: flex;
    width: 32px;
    height: 32px;
    margin-left: 8px;
    margin-bottom: 12px;
  }

  .txtrodape{
    display: flex;
    color:var(--fundo);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 24px;
    font-size: 12px;
  }

}