*{
  margin: 0;
  padding: 0;

}



*, html {
  --primaryGradient: linear-gradient(93.12deg, #581B98 0.52%, #9C1DE7 100%);
  --secondaryGradient: linear-gradient(268.91deg, #581B98 -2.14%, #9C1DE7 99.69%);
  --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
  --light: 300;
  --regular: 400;
  --semiBold: 600;
  --extraLight: 300;
  --italic: 300;
  --primary: #7345d6;
  --fundo: #F0F8FF;
  --txt_primario: #7e7e91;
}

body{
  background-color:var(--fundo);
  font-family: Verdana,Sans-Serif;
}

/*--------------------------------pc-----------------------------------------------------*/

@media(min-width: 800px) {

  .headerindex {
    width: 100%;
    background-color:#581B98;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
  }

  a {
    color:var(--fundo);
    text-decoration: none;
    
  }

  .btn_fechar{
    display: none;
  }

  .txtmenu{
    color:var(--primary);
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
    display: none;  
  }

  .navmenu {  
    display: flex;
    height: 10%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 45px;
    justify-content: right;
    
  }

  .linkmenu{
    display: block;
    padding: 16px;
    font-size: 20px;
  }

  nav a {
    padding: 25px;
    padding-top: 35px;
    font-size: 20px;
    margin-right: 40px;
  }

  .a_menu{
    margin-right: 200px;
  }

  nav a:hover{
    background-color:#581B98;
    color:var(--fundo);
  }

  .avatar{
    width: 100px;
    right: 200px;
    margin-left: auto;
    padding-right: 45px;
  } 

  .boxhome{
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    
  }

  
  .div_baner{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    margin-right: 50px;
  }

  .div_txt_foto{
    display: flex;
    flex-direction: column;
  }

  .txt_somos {
    margin-bottom: 16px;
    font-size: 16px;
    color: var(--txt_primario);
    animation: backInLeft; 
    animation-duration: 2s;
  }
  
  .titulo {
    animation: backInLeft; 
    animation-duration: 2s;
    margin-bottom: 8px;
    margin-top: 20px;
    font-size: 25px;
    color: var(--primary);
  }
  
  h1{
    display: block;
    animation: backInLeft; 
    animation-duration: 2s;
    margin-bottom: 8px;
    font-size: 33px;
    color: var(--primary);
  }
  
  .img_baner{
    width: 200px;
    height: 200px;
    border-radius: 5%;
    
    margin: 0px 16px 16px 0px;
    animation: backInLeft; 
    animation-duration: 2s;
  }
    
 .txt {
    font-size: 16px;
    color: var(--txt_primario);
    margin-top: 16px;
    animation: backInRight; 
    animation-duration: 2s;
  }

  .div_txt_baner{
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-left: 50px;
  }
  
   .txt_baner{
    font-size: 16px;
    color: var(--txt_primario);
    animation: backInRight; 
    animation-duration: 2s;
    margin-left: 100px;
    margin-top: 16px;
  }


  .box_servicos{
    display: inline-grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10%;
    margin-bottom: 20px;
    gap: 4rem;
  }
  
  .div_tec{
    text-align: center;
    
  }
  
   .img_tec{
     width: 80px;
     height: 80px;
     padding-left: 10px;
     margin-top: 30px;
     animation: backInRight; 
     animation-duration: 2s;
   }
   
   .certificados{
     display: flex;
     width: 100%;
     flex-direction: row;
    
   }
   
  .img_certificado{
     width: 150px;
     height: 100px;
     
     margin:20px 0;
     animation: backInRight; 
     animation-duration: 2s;
   }
   
   
   .txt_certificado{
      
      padding: 20px;
   }
   
   .txt_cert{
     color: var(--txt_primario);
     font-size: 16px;
     
   }
  .linha {
   
    border-top-color: #7B68EE;
    border: 0.5px;
    border-style: solid;
    margin-top: 20px;
    opacity: 0.1;
  }

  footer{
    padding: 24px;
    background-color: var(--primary);
  }

  .box_footer{
    display: flex;
    flex-direction: row;
  }


  .div_social{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  .endereco{
    width: 50%;
  }
  .txt_social{
    font-size: 12px;
    margin-left:8;
    margin-top: auto;
    margin-bottom:auto;
    color:var(--fundo);
  }
  .txt_endereco{
    font-size: 13px;
    margin-left:8;
    margin-bottom:12px;
    color:var(--fundo);
  }


  .img_rede{
    display: flex;
    width: 32px;
    height: 32px;
    margin-left: 8px;
    margin-bottom: 12px;
  }

  .txtrodape{
    display: flex;
    color:var(--fundo);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 24px;
    font-size: 12px;
  }

}

/*-------------------------------------------------------------------------------------*/

/*--------------------------------CELULAR-----------------------------------------------------*/


@media(max-width: 820px) {


  .headerindex {
    width: 100%;
    background-color:var(--fundo);
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    color:var(--fundo);
    text-decoration: none;
    
  }

  .txtmenu{
    color:var(--primary);
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;

  }

  .navmenu {  
    height: 100%;
    width: 0px;
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    transition: width 0.3s;
  }

  .linkmenu{
    display: block;
    padding: 16px;
    font-size: 20px;
  }

  nav a {
    display: block;
    padding: 16px;
    font-size: 20px;
  }

  nav a:hover{
    background-color:var(--primary);
    color:--fundo;
  }

  .avatar{
    width: 100px;
    right: 100px;
    margin-left: auto;
  } 

  .boxhome{
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    
  }

  .div_nome_baner{
    display: flex;
    flex-direction: column;
  }
  .div_baner{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .txt_somos {
    margin-bottom: 16px;
    font-size: 16px;
    color: var(--txt_primario);
    animation: backInLeft; 
    animation-duration: 2s;
  }
  
  .titulo {
    animation: backInLeft; 
    animation-duration: 2s;
    margin-bottom: 8px;
    margin-top: 20px;
    font-size: 25px;
    color: var(--primary);
  }
  
  h1{
    animation: backInLeft; 
    animation-duration: 2s;
    margin-bottom: 8px;
    font-size: 33px;
    color: var(--primary);
  }
  
  .img_baner{
    width: 200px;
    height: 200px;
    border-radius: 5%; 
    margin: 0px 16px 16px 0px;
    animation: backInLeft; 
    animation-duration: 2s;
  }
    
 .txt {
    font-size: 16px;
    color: var(--txt_primario);
    margin-top: 16px;
    animation: backInRight; 
    animation-duration: 2s;
  }
  
   .txt_baner{
    font-size: 16px;
    color: var(--txt_primario);
    animation: backInRight; 
    animation-duration: 2s;
  }


  .box_servicos{
    display: inline-grid;
    grid-template-columns: 30% 30% 30%;
    margin-bottom: 20px;
    gap: 1rem;

  }
  
  .div_tec{
    text-align: center;
    
  }
  
   .img_tec{
     width: 80px;
     height: 80px;
     padding-left: 10px;
     margin-top: 30px;
     animation: backInRight; 
     animation-duration: 2s;
   }
   
   .certificados{
     display: flex;
     width: 100%;
     flex-direction: row;
    
   }
  
  .box_certificados{
     display: flex;
     width: 100%;
     flex-direction: column;
    
   }
   
  .img_certificado{
     width: 150px;
     height: 100px;
     
     margin:20px 0;
     animation: backInRight; 
     animation-duration: 2s;
   }
   
   
   .txt_certificado{
      
      padding: 20px;
   }
   
   .txt_cert{
     color: var(--txt_primario);
     font-size: 16px;
     
   }
  .linha {
   
    border-top-color: #7B68EE;
    border: 0.5px;
    border-style: solid;
    margin-top: 20px;
    opacity: 0.1;
  }

  footer{
    padding: 24px;
    background-color: var(--primary);
  }

  .box_footer{
    display: flex;
    flex-direction: row;
  }


  .div_social{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  .endereco{
    width: 50%;
  }
  .txt_social{
    font-size: 12px;
    margin-left:8;
    margin-top: auto;
    margin-bottom:auto;
    color:var(--fundo);
  }
  .txt_endereco{
    font-size: 13px;
    margin-left:8;
    margin-bottom:12px;
    color:var(--fundo);
  }


  .img_rede{
    display: flex;
    width: 32px;
    height: 32px;
    margin-left: 8px;
    margin-bottom: 12px;
  }

  .txtrodape{
    display: flex;
    color:var(--fundo);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 24px;
    font-size: 12px;
  }

}
